* {
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
a{
    text-decoration: none;
}
h4{
    color: #111;
    text-transform: uppercase;
}
h5{
    color: #111;
    text-transform: capitalize;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.content {
    width: 450px;
    margin: auto;
    margin-top: 20px;
}

.mainContent {
    margin: 20px 0px 45px 0px;
}

.storyTag {
    font-size: 25px;
}

.intro p {
    font-size: 10px;
    color: #aeacac;
}

.mainContent p,
h6 {
    font-size: 10px;
    color: #aeacac;
    margin: 7px 0px;
}

.mainContent h4 {
    font-size: 15px;
    margin-bottom: 5px;
}

.mainContent h5 {
    font-size: 12px;
}